{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=""> 
    <title>DietCraft - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'loginpage.css' %}">
</head>
<body>
    <header>
        <a href="/home">
            <div class="logo">
                <img src="https://as1.ftcdn.net/v2/jpg/06/32/80/98/1000_F_632809844_cgxOgg9gtZXUsJDPAwbosyXqX1MasRk5.jpg" alt="DietCraft Logo">
            </div>
        </a>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Plans</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        <section class="login-section">
            <div class="login-content">
                <h1>Login</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <br>

                    <label for="">Password</label>
                    <input type="password" id="pass1" name="pass1" placeholder="Password" required>
                    <br>

                    <button type="submit">Login</button>
                </form>
                <script src="" async defer></script>
                <p>Not a member? <a href="/signup">Sign Up</a></p>
            </div>
            <div class="login-images">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdESwucwo_ALucj-iT_-8mDdXjZQG7Oh8vYw&usqp=CAU" alt="Balanced Diet">
                
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2o2a3vMviux1_DbFMwNSphke94OjPkgpF-A&usqp=CAU" alt="Healthy Food">
               
            </div>
        </section>
    </main>

    <!--  footer  -->

</body>
</html>
