{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DietCraft</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        
        <label class="logo"><a href="/home">DIETCRAFT</a></label>
        <div class="nav-bar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard">About</a></li>
                <li><a href="/generate-meal-plan">Generate your Meal Plan</a></li>
                <li><a href="/calories">Calorie Count</a></li>
                <li><a href="/recipes">Recipe Search</a></li>
                <li><a href="/signin">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </header>        
  {% comment %} <nav id="navbar">
    <label class="logo"><a href="/home">DIETCRAFT</a></label>
    <ul>
      <li><a class="nav-link" href="/home" >Home</a></li>
      <li><a class="nav-link" href="/recipes" >Recipes</a></li>
      <li><a class="nav-link" href="/generate-meal-plan">Meals</a></li>
      {% comment %} <li><a class="nav-link" href="/dashboard">Dashboard</a></li> {% endcomment %}
      {% comment %} <li><a class="nav-link" href="#">Shop</a></li> {% endcomment %}
      {% comment %} <li><a class="nav-link" href="/signup">Sign Up</a></li>
      <li><a class="nav-link" href="/signin">Log In</a></li>
    </ul>
  </nav> {% endcomment %} 
  
  <main>
    <section id="header" style="background-image: url('../../../static/front.png');">
    <h1>Healthy Life starts with<br> what you eat.</h1>
    <p id="text">Take control of your goals. Track calories and your Meals. Breakdown ingredients</p>
    
    <div id="button">
        <button id="button-one"><a href="/generate-meal-plan">Start a plan</a></button>
    </div>
</section>

    
    <section id="features-one">
      <a id="features-one-link" href="#">
      <div class="features-one-box">
        <h3>Wellness</h3>
        <p>Trying to stay healthy and fit?  We give you the right features to hit your healthy Goals.</p>
      </div>
      </a>
      
      <a id="features-one-link" href="#">
      <div class="features-one-box">
        <h3>Challenges</h3>
        <p>Take control of your health goals. Track calories, breakdown ingredients, and log activities</p>
      </div>
      </a>
      
      <a id="features-one-link" href="#">
      <div class="features-one-box">
        <h3>Healthy & Tasty</h3>
        <p>Get nutritionist-approved recipes and proper meal plans from experts.</p>
      </div>
      </a>
      
      <a id="features-one-link" href="#">
      <div class="features-one-box">
        <h3>Personaliztions</h3>
        <p>Your meal plan gets personalized to your taste, dietary needs, and goals.We craft a plan that fits your unique you.</p>
      </div>
      </a>
    </section>
    
    <section id="calorie-counter" style="background-image: url('../../../static/caloriepic.png');">
        <div class="calorie-counter">
          <label>Calorie Counter</label>
          <p>What's in your food? Learn about calorie count, 
    nutrition information and serving size.
          <form method="POST">
            {% csrf_token %}
            <div id="search-input">
            <input name="query" id="search-food" type="text" placeholder="Search foods">
            <button class="btn whoop" type="submit" id="button-addon2">Find calories</button>
            </div>
          </form>
        </div>
      </section>
    
    <section id="features-two">
      <h2><span>Balanced & Wholesome </span>Diet Plans made just for You. Enjoy the Good Life, One Balanced Bite at a Time</h2>
      <p>We believe that a Healthy Meal should be accessible to everyone, everywhere, regardless of income or allergies. With hundreds of professional healthy Recipes, healthy meal plans, you’ll have everything you need to reach your personal fitness goals – for free! </p>
      
     <div id="features-two-box">
        <div class="features-two-box">
          <img src="{% static 'pic1.png' %}">
        </div>
  
        <div class="features-two-box">
          <img src="{% static 'pic2.png' %}">
        </div>
  
        <div class="features-two-box">
          <img src="{% static 'pic3.png' %}">
        </div>
      </div>
      
      
      <div id="button">
        <button><a href="/generate-meal-plan">More Plans</a></button>
      </div>
    </section>
    
    <section id="features-three">
        <div class="features-three-box">
          <h2>The Tools for Your <span>Healthy Goals</span>
  </h2>
          <p>Trying to lose or Gain weight, tone up, get to a good BMI, or invest in your overall health?  We give you the right features to hit your goals.</p>
          <button><a href="/generate-meal-plan">Get Started</a></button>
        </div>
  
        <div class="features-three-box">
          <img src="https://cdn.loveandlemons.com/wp-content/uploads/2019/02/meal-prep-ideas-1.jpg">
        </div>
  
        <div class="features-three-box">
          <img src="https://imgk.timesnownews.com/story/veg-thali.gif?tr=w-400,h-300,fo-auto">
        </div>
      
        <div class="features-three-box">
          <h2><span>Healthy</span> Meals & Recipes
  </h2>
          <p>Get nutritionist-approved recipes and motivational workout tips from Fitness experts.</p>
          <button><a href="#">Explore Meals</a></button>
        </div>
      </section>
    
   
    </main>
    