<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
{% load static %}
{% load mathfilters %}
{% load humanize %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DietCraft - Calorie Finder</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'animate.css' %}">
</head>
<body>
    
<u></u>
<div>
    <div class="m_container-fluid m_pl-0 m_pr-0 m_bg-img m_clearfix m_parallax-window2">
        <u></u>
        <div class="m_container"> 
            <a class="m_navbar-brand m_mr-auto" href="/home" target="_blank" rel="noreferrer"></a>
            <button class="m_navbar-toggler" type="button"> <span class="m_navbar-toggler-icon"></span> </button>
            <div class="m_collapse m_navbar-collapse" id="m_collapsibleNavbar">
                <ul class="m_navbar-nav m_ml-auto">
                    <li class="m_nav-item"> <a class="m_nav-link" href="/home" target="_blank" rel="noreferrer">Home</a> </li>
                    <li class="m_nav-item"> <a class="m_nav-link" href="/dashboard" rel="noreferrer">Dashboard</a> </li>
                    <li class="m_nav-item"> <a class="m_nav-link" href="/generate-meal-plan" rel="noreferrer">My Plans</a> </li> 
                    <li class="m_nav-item"> <a class="m_nav-link" href="/calories" target="_blank" rel="noreferrer">Calorie Counter</a> </li>       
                    <li class="m_nav-item"> <a class="m_nav-link" href="/recipes" target="_blank" rel="noreferrer">Receipe Finder</a> </li>
                </ul>
            </div>
        </div>
        
        <u></u>
        <div class="m_container" style="margin-top:70px">
            <div class="m_fh5co-banner-text-box">
                <div class="m_quote-box m_pl-5 m_pr-5 m_wow m_bounceInRight">
                    <h2> CALORIE COUNT<br><span></span> </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="m_col-md-6 m_footer2 m_wow m_bounceInUp" id="m_contact">
                    <h4>CALORIE COUNTER</h4>
                    <div class="m_calorie-counter-box">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="query" class="m_form-control m_pl-0" placeholder="Search...">
                            <button class="m_generate-btn m_px-6" type="submit">Generate</button>
                        </form>
                    </div>
                    <div class="m_output">
                        {% if api %}
                        {% if api == "oops! There was an error" %}
                            <div class="alert alert-warning">Oh no! something went wrong. Please try again in sometime.</div>
                        {% else %}
                            <h1>{{api.0.name | capfirst}} has a total of <strong>{{api.0.calories}} Calories</strong>
                            {% if api.0.calories > 200 %}
                            <img src="{% static 'images/shocked.png' %}" class="img-responsive" />
                            {% endif %}
                            </h1>
                            {% if api.0.sodium_mg > 1000 %}
                            <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                                <div>This food contains a high amount of sodium. High Sodium causes Sever dehydration and water retention.</div>
                            </div>
                            {% endif %}
                            {% if api.0.sugar_g > 100 %}
                            <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                                <div>This food contains a high amount of sugar. Sugar causes insulin spikes and is a no.1 cause for Obesity.</div>
                            </div>
                            {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <hr>
                    <hr>
                    <hr>
                </div>
    <div class="m_container-fluid m_fh5co-network">
        <div class="m_container">
            <div class="m_row">
                <div class="m_col-md-6">   
                    <h4 class="m_wow m_bounceInUp">Bicycling</h4>
                    <h2 class="m_wow m_bounceInRight"></h2>
                    <hr>
                    <h5 class="m_wow m_bounceInLeft">Cycling works the same muscles as running</h5>
                    <p class="m_wow m_bounceInDown">But with lower impact. If you’re going at an intense rate, you can burn anywhere from 600 to over a thousand calories a session, especially with use of intervals. Aim to keep your maximum heart rate about halfway between the low and high ends of your target heart rate zone.</p>
                </div>
                <div class="m_col-md-6">
                    <figure class="m_wow m_bounceInDown">
                        <img src="/static/c3.jpg" alt="girls in gym" class="m_img-fluid" style="margin-top:80px">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="m_container-fluid m_fh5co-network">
        <div class="m_container">
            <div class="m_row">
                <div class="m_col-md-6">   
                    <h4 class="m_wow m_bounceInUp">Running</h4>
                    <h2 class="m_wow m_bounceInRight"></h2>
                    <hr>
                    <h5 class="m_wow m_bounceInLeft">Miles to Smiles: Every stride shreds calories</h5>
                    <p class="m_wow m_bounceInDown">Running is a fantastic calorie burner! It can incinerate between 280 and 520 calories in just 30 minutes, depending on your weight and intensity. While a general estimate suggests 100 calories per mile, remember this fluctuates based on factors like your body mass. The heavier you are, the more energy your body uses to move, resulting in greater calorie burn. So lace up your shoes, hit the ground, and torch some calories!”</p>
                </div>
                <div class="m_col-md-6">
                    <figure class="m_wow m_bounceInDown"> 
                        <img src="/static/c2.jpg" alt="girls in gym" class="m_img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <footer class="m_container-fluid">
        <div class="m_container">
            <div class="m_row">
                <div class="m_col-md-3 m_footer1 m_d-flex m_wow m_bounceInLeft">
                    <div class="m_d-flex m_flex-wrap m_align-content-center"> 
                        <p></p>
                    </div>
                </div>
                {% comment %} <div class="m_col-md-6 m_footer2 m_wow m_bounceInUp" id="m_contact">
                    <h4>CALORIE COUNTER</h4>
                    <div class="m_calorie-counter-box">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" class="m_form-control m_pl-0">
                            <button class="m_generate-btn m_px-6" type="submit">Generate</button>
                        </form>
                    </div>
                    <div class="m_output"></div>
                    <hr>
                    <hr>
                    <hr>
                </div> {% endcomment %}
                <hr>
                <hr>
            </div>
        </div>
    </footer>
    <div class="m_container-fluid m_fh5co-network">
        <div class="m_container">
            <div class="m_row">
                <div class="m_col-md-6">   
                    <h4 class="m_wow m_bounceInUp">Swimming</h4>
                    <h2 class="m_wow m_bounceInRight"></h2>
                    <hr>
                    <h5 class="m_wow m_bounceInLeft">The lowest impact of all aerobic forms of exercise</h5>
                    <p class="m_wow m_bounceInDown">Take the plunge and torch calories! Swimming is a low-impact calorie crusher, burning between 223 and 878 calories per hour depending on your stroke and intensity. From a leisurely backstroke to a powerful butterfly, every pool session gets your heart pumping and muscles working. So, dive in and make a splash towards your fitness goals!</p>
                </div>
                <div class="m_col-md-6">
                    <figure class="m_wow m_bounceInDown">
                        <img src="/static/s1.jpg" alt="girls in gym" class="m_img-fluid" style="margin-top:80px">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="m_container-fluid m_fh5co-network">
        <div class="m_container">
            <div class="m_row">
                <div class="m_col-md-6">   
                    <h4 class="m_wow m_bounceInUp">Yoga</h4>
                    <h2 class="m_wow m_bounceInRight"></h2>
                    <hr>
                    <h5 class="m_wow m_bounceInLeft">Unfold Your Power: Yoga burns &amp; builds</h5>
                    <p class="m_wow m_bounceInDown">Don&#39;t underestimate the power of yoga! This mind-body practice burns more than you might think. A one-hour yoga session can sizzle between 180 and 460 calories, depending on the style and your effort. From the flowing movements of Vinyasa to the restorative holds of Yin, yoga strengthens and tones while helping you torch calories. Unwind, refocus, and burn – all on your yoga mat!</p>
                </div>
                <div class="m_col-md-6">
                    <figure class="m_wow m_bounceInDown">
                        <img src="/static/yoga.jpg" alt="Yoga" class="m_img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>  
</div>

</body>
</html>
