{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <section id="Home">
        <nav>
            <div class="logo" style = "margin-right: 70px;">
                <img src="{% static 'logo1.png' %}" width="12" height="50">
            </div>

            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard">About</a></li>
                <li><a href="/generate-meal-plan">Generate your Meal Plan</a></li>
                <li><a href="/calories">Calorie Count</a></li>
                <li><a href="/recipes">Recipe Search</a></li>
                <li><a href="/signin">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>

            

        </nav>

        <div class="main">

            <div class="men_text">
                <h1>Get Delicious<span>Healthy Food</span> in a Easy Way</h1>
            </div>

            <div class="main_image">
                <img src="{% static 'Food-Plate.png' %}">
            </div>

        </div>

        <p>
            Dive into delicious with Diet-Craft, your one-stop shop for stress-free meal planning!  Our user-friendly platform lets you browse thousands of recipes, filter by dietary restrictions and cuisine, then drag and drop to build your weekly menu. DietCraft - making mealtimes a masterpiece!
        </p>
        <section id="search-bar">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="search-container">
              <input id="search-food" name="query" type="text" placeholder="Search receipe">
              {% comment %} <button class="btn whoop" type="submit" id="button-addon2">Find recipe</button> {% endcomment %}
              <button id="search-btn">Search</button>
            </div>
        </form>
        </section>

        <!-- <div class="main_btn">
            <a href="#">Search receipe </a>
            <i class="fa-solid fa-angle-right"></i>
        </div> -->

    </section>



    <!--About-->

    <!-- <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="image/Food-Plate.png">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, est. Doloremque 
                    sapiente veritatis laboriosam corrupti optio et maxime. Ad, amet explicabo eaque labore 
                    cupiditate quasi nostrum nemo recusandae id quibusdam? Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Doloremque ab, dolores pariatur cum exercitationem, illo nisi 
                    veritatis vitae ea deleniti fugiat quisquam tempora, accusantium corrupti excepturi optio. 
                    Inventore, cupiditate recusandae.
                </p>
            </div>

        </div>

        <a href="#" class="about_btn">Order Now</a>

    </div> -->



    <!--Menu-->

    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'Masala-Dosa.jpg' %}">
                </div>
                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                

                <div class="menu_info">
                    <h2>Dosa</h2>
                    <p>
                        Dosa delicious? More like dosa-licious! 
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 30px;">Get receipe</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'pasta.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pasta</h2>
                    <p>
                        Life is full of pasta-bilities, so grab a fork and dig in! 
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'lasagna.webp' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Lasagna</h2>
                    <p>
                        Feeling cheesy? This lasagna is a gouda time! 
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'chocolate_Drink.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Chikoo Shake</h2>
                    <p>
                        Blended to creamy perfection, this shake is a real chikoo win! 
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'biryani.webp' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Biryani</h2>
                    <p>
                        This biryani is so good, it's got me feeling basmati-fied!
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'chilli-paneer-recipe.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Paneer</h2>
                    <p>
                        This dish is paneer-fect! No matter how you cook it, it's always delicious.
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'berry.jpeg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Parfait</h2>
                    <p>
                        This yogurt is berry good! It'll have you feeling grape-ful all day long!

                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'rice.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Rice cake</h2>
                    <p>
                        This rice cake is so crunchy, it'll give your jaw a workout!

                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'cilantro-lime-shrimp-lettuce-wraps1-1657203475.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Shrimp wrap</h2>
                    <p>
                        This wrap is so good, it'll make you want to sea more!

                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'tofu-bowl.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Tofu</h2>
                    <p>
                        This dish is so good, you won't even miss the meat! It's a tofu-lly satisfying meal!
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'Spanchi.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Muffin</h2>
                    <p>
                        Feeling a little crumby? This muffin will perk you right up!
                    </p>
                    
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="{% static 'sandwich.jpg' %}">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Sandwich</h2>
                    <p>
                        This sandwich is so good, it's the bread-winner of all meals! 
                    </p>
                   
                    <a href="#" class="menu_btn" style="margin-top: 10px;">Get receipe</a>
                </div>

            </div> 
            
        </div>

    </div>




    <!--Gallary-->

    <!-- <div class="gallary" id="Gallary">
        <h1>Our<span>Gallary</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="image/gallary_1.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="image/gallary_2.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="image/gallary_3.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="image/gallary_4.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="image/gallary_5.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

            <div class="gallary_image">
                <img src="image/gallary_6.jpg">

                <h3>Food</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi sint eveniet laboriosam 
                </p>
                <a href="#" class="gallary_btn">Order Now</a>
            </div>

        </div>

    </div> -->




    <!--Review-->

    <!-- <div class="review" id="Review">
        <h1>Our<span>Team</span></h1>

        <div class="review_box">
            <div class="review_card">

                <div class="review_profile">
                    <img src="image/review_1.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="image/review_2.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="image/review_3.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p>

                </div>

            </div> -->

            <!-- <div class="review_card">

                <div class="review_profile">
                    <img src="image/review_4.png">
                </div>

                <div class="review_text">
                    <h2 class="name">John Deo</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam facere 
                        blanditiis in fugiat tempore necessitatibus aliquid. Id adipisci, rem corrupti 
                        asperiores distinctio delectus quae quia tenetur totam laboriosam quam. Lorem ipsum, 
                        dolor sit amet consectetur adipisicing elit. Dolores soluta ullam ipsa voluptates 
                        repudiandae dignissimos deleniti mollitia eum. Laudantium placeat velit nemo illo 
                        pariatur. Fuga aperiam impedit illo atque repellendus!
                    </p> -->

                <!-- </div>

            </div> -->

        </div>

    </div>



    <!--Order-->

    <div class="order" id="Order">
        <h1><span>Cook</span>Now</h1>

        <div class="order_main">

            <div class="order_image">
                <img src="{% static 'order_image.png' %}">
            </div>

            <!-- <form action="#"> -->

                <!-- <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="you name">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="you email">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="you number">
                </div>

                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how many order">
                </div>

                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name">
                </div>

                <div class="input">
                    <p>Address</p>
                    <input placeholder="you Address">
                </div> -->

                <!-- <a href="#" class="order_btn">Order Now</a>

            </form> -->

        </div>

    </div>



    <!--Team-->

    <!-- <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="image/chef1.png">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef2.png">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef3.jpg">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef4.jpg">

                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

        </div>

    </div> -->



    <!--Footer-->

    <!-- <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Sri Lanka</p>
                <p>USA</p>
                <p>India</p>
                <p>Japan</p>
                <p>Italy</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Menu</p>
                <p>Gallary</p>
                <p>Order</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+94 12 3456 789</p>
                <p>+94 25 5568456</p>
                <p>johndeo123@gmail.com</p>
                <p>foodshop123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Design by<span><i class="fa-solid fa-face-grin"></i> WT Master Code</span></p>

    </footer> -->



    
</body>
</html>