<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DietCraft - Meal Planner</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontpage.css' %}">

</head>
<body>
    <header>
        <a href="/home">
            <div class="logo">
                <img src="https://as1.ftcdn.net/v2/jpg/06/32/80/98/1000_F_632809844_cgxOgg9gtZXUsJDPAwbosyXqX1MasRk5.jpg" alt="DietCraft Logo">
            </div>
        </a>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">My Plans</a></li>
                <li><a href="/generate-meal-plan">Preference Form</a></li>
                <li><a href="/calories">Calorie Counter</a></li>
                <li><a href="/recipes">Recipe Finder</a></li>
                <!--navigation -->
            </ul>
        </nav>
        <div class="auth-buttons">
            <button><a href="/signin">Login</a></button>
            <button><a href="/signup">Sign Up</a></button>
        </div>
    </header>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <main>
        <section class="hero">
            <h1>Welcome to DietCraft</h1>
            <p>Your personalized meal planner for a healthier you!</p>
          
        </section>

        <section class="image-gallery">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2o2a3vMviux1_DbFMwNSphke94OjPkgpF-A&usqp=CAU" alt="Balanced Diet">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdESwucwo_ALucj-iT_-8mDdXjZQG7Oh8vYw&usqp=CAU" alt="Healthy Food">
            <img src="https://www.mdanderson.org/content/mda/en/cancerwise/2023/10/healthy-foods-to-eat-during-cancer-treatment/jcr:content/blog/adaptiveimage.resize.1296.0.high.jpg/1696015121644.jpg" alt="Fruits and Vegetables">
       
        </section>
    </main>

  

</body>
</html>
