{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'frontpage_new.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,200;1,300;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> DIETCRAFT</title>
</head>

<body>
    <header>
        <a href="/home" class="logo">
            <img src="{% static 'logo1.png' %}" alt="DietCraft Logo">
        </a>    
        <div class="nav-bar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard">About</a></li>
                <li><a href="/generate-meal-plan">Generate your Food Plan</a></li>
                <li><a href="/calories">Calorie Count</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/signin">Login</a></li>
                {% comment %} <li><a href="#">Contact</a></li> {% endcomment %}
            </ul>
        </div>
    </header>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% if fname %}
    <p>Welcome back to DietCraft, {{fname}}</p>
    {% endif %}
    <div class="hero">
        <div class="content">
            <h4>Eat healthy, live happy. Starts with planning</h4>
            <h1>Discover a world of flavors, planned just for you.</h1>
            <h3>Healthy eating made simple.</h3>
            <div class="button">
                <a href="/generate-meal-plan">Generate Your Personalized Meal Plan</a>
            </div>
        </div>
    </div>
    <!----About Section Start---------------------------------->
    <section class="about">
        <h2>About Us</h2>
        <div class="main">
            <img src="{% static '20 Indian Thali Ideas.jfif' %}" alt="">
            <div class="about-text">
                <p>Welcome to DIETCRAFT,it's your personalized Meal Planner architect! 
                    Ditch the one-size-fits-all plans. Tell us your goals, preferences,
                     and dietary needs, and DietCraft will craft a delicious meal plan 
                     that fits your unique lifestyle. Get ready to explore new flavors, 
                     stay on track, and achieve your health goals, all while enjoying 
                     every bite. Let DietCraft be your guide to a happier, healthier you!</p>

            </div>
        </div>
    </section>
    <!-----Recipes Section Start---------------------------------->
    <div class="recipe">
        <h2>Heathly Food.Healthy Life.</h2>
        <div class="box">
            <div class="card">
                <img src="{% static 'r1.jfif' %}" alt="">
                <div class="content">
                    <h3>Vegetarian Thali</h3>
                    <P>A vegetarian thali is a balanced and colorful platter loaded with protein, fiber, vitamins, and minerals from lentils, vegetables, whole grains, and adequet amount of Carbs.</P>
                    <button>View Calorie Count</button>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'r2.jpg' %}" alt="">
                <div class="content">
                    <h3>Buddha Bowl</h3>
                    <P>Buddha bowls are delicious, customizable, and packed with whole grains, protein, veggies, and healthy fats for a complete and nutritious meal.</P>
                    <button>View Calorie Count</button>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'r3.jpg' %}" alt="">
                <div class="content">
                    <h3>One Pot Meal</h3>
                    <P>One-pot meals are time-saving, clean-up friendly, and can be packed with nutrients from vegetables, whole grains, and lean protein.</P>
                    <button>View Calorie Count</button>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'r4.jfif' %}" alt="">
                <div class="content">
                    <h3>South Indian breakfasts</h3>
                    <P>South Indian breakfasts are a delicious and healthy way to start your day, packed with fiber, protein, and beneficial probiotics from fermentation.</P>
                    <button>View Calorie Count</button>
                </div>
            </div>
    </div>
    <!--------------categories section-------------------------------->
    <div class="categories">
        <h2>categories</h2>
        <div class="box">
            <div class="ca-card">
                <img src="{% static '101.jpg' %}" alt="">
                <div class="content">
                    <h3>Meal Planner</h3>
                    <p>Meal planning made easy.</p>
                    <a href="/generate-meal-plan"><button>Explore</button></a>
                </div>
            </div>
            <div class="ca-card">
                <img src="{% static '102.jpg' %}" alt="">
                <div class="content">
                    <h3>Calorie Counter</h3>
                    <p>Know your fuel, fuel your goals.</p>
                    <a href="/calories"><button>Explore</button></a>
                </div>
            </div>
            <div class="ca-card">
                <img src="{% static '103.jpeg' %}" alt="">
                <div class="content">
                    <h3>Recipes</h3>
                    <p>Your Guide to Culinary Creations: Find Your Perfect Recipe.</p>
                    <a href="/recipes"><button>Explore</button></a>
                </div>
            </div>
            
        </div>
    </div>
   
<footer>
    <div class="social-icons">
        <a href="#" class="social-icon"> <i class="fab fa-facebook"></i> </a>
        <a href="#" class="social-icon"> <i class="fab fa-twitter"></i> </a>
        <a href="#" class="social-icon"> <i class="fab fa-instagram"></i> </a>
    </div>
    <h5>CopyRight © 2024 By DietCraftAPS </h5>
</footer>
</body>

</html>